<nz-breadcrumb [nzSeparator]="iconTemplate" style="padding-bottom: 20px;">
  <nz-breadcrumb-item>
    Home
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Produto
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Consultar
  </nz-breadcrumb-item>
</nz-breadcrumb>
<ng-template #iconTemplate><em nz-icon nzType="arrow-right"></em></ng-template>

<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)" class="search-form">

  <nz-form-item>
    <nz-form-label nzFor="name">Produto</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="name" id="name"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-space>
        <nz-space-item>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid"><em nz-icon nzType="search"></em>Consultar</button>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="default" (click)="resetForm($event)">Limpar</button>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="default" routerLink="add">Novo</button>
        </nz-space-item>
      </nz-space>
    </nz-form-control>
  </nz-form-item>
</form>

<div nz-row style="padding-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="products" nzBordered [nzSize]="'small'">
      <thead>
        <tr>
          <th scope="col" nzLeft>Produto</th>
          <th scope="col">Descrição</th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Quantidade</th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Preço</th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Ativo</th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Avaliação</th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td [nzAlign]="'center'">{{ data.quantity }}</td>
          <td [nzAlign]="'center'">{{ data.price | currency:'BRL':true:'1.2-2' }}</td>
          <td [nzAlign]="'center'">{{ data.active ? 'Sim' : 'Não' }}</td>
          <td [nzAlign]="'center'"><nz-rate [ngModel]="data.rate" nzAllowHalf nzDisabled></nz-rate></td>
          <td [nzAlign]="'center'">
            <a routerLink="edit/{{data.id}}">Editar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Confirma a exclusão?"
                (nzOnConfirm)="deleteRow(data)"
                nzPopconfirmPlacement="left"
                >Excluir</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
