<nz-breadcrumb [nzSeparator]="iconTemplate" style="padding-bottom: 20px;">
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Departamento</nz-breadcrumb-item>
  <nz-breadcrumb-item>Consultar</nz-breadcrumb-item>
</nz-breadcrumb>
<ng-template #iconTemplate><em nz-icon nzType="arrow-right"></em></ng-template>

<nz-space>
  <button *nzSpaceItem  nz-button nzType="primary" routerLink="add">Novo</button>
</nz-space>
<div nz-row style="padding-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table #filterTable [nzData]="departaments" nzBordered [nzSize]="'small'" [nzPaginationType]="'small'"
    [nzTotal]="totalItems" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzFrontPagination]="false"
    [nzLoading]="loading" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th scope="col" nzLeft>
              Departamento
              <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <em nz-icon nzType="search"></em>
              </nz-filter-trigger>
          </th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Ativo</th>
          <th nzWidth="150px" scope="col" [nzAlign]="'center'">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.name }}</td>
          <td [nzAlign]="'center'">{{ data.active === 1 ? 'Sim' : 'Não' }}</td>
          <td [nzAlign]="'center'">
            <a routerLink="edit/{{data.objectId}}">Editar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Confirma a exclusão?" (nzOnConfirm)="deleteRow(data)"
              nzPopconfirmPlacement="left">Excluir</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Digite o departamento" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            Procurar
          </button>
          <button nz-button nzSize="small" (click)="reset()">Limpar</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>
